.qti-visually-hidden {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: -10000px;
}

.qti-visually-hidden:focus {
  opacity: 1;
}

.jump-link {
  opacity: 0;
  display: block;
  pointer-events: none;
}

.jump-link:focus {
  opacity: 1;
}

button {
  cursor: pointer;
}

ol, ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}