.app {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #161616;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app header {
  height: 4rem;
  background: white;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 4rem;
}

/**
 * HEADER
 */
.menu-button {
  border: none;
  background: none;
}
.menu-button svg {
  font-size: 36px;
  font-weight: bold;
  color: #767676;
}
.test-breadcrumb {
  display: inline;
}
.test-breadcrumb span {
  margin: 0 0.25rem;
}
h1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/**
 * ITEM
 */
.qti-ItemBody {
  xborder: 1px dashed teal;
  flex-grow: 1;
  width: 60%;
}
.qti-choice {

}
.bookmark-tool {
  position: absolute;
  right: 1rem;
  bottom: 5rem;
}

/**
 * TEST NAVIGATION
 */
 .testNav {
  height: 4rem;
  max-height: 4rem;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  box-shadow: 0 -3px 2px 2px rgba(0,0,0,0.2);
}
.testNav button.prev,
.testNav button.next,
.button-large-circle {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border: 2px solid black;
  background: white;
  margin: 12px;
  line-height: 52px;
  cursor: pointer;
}
.testNav button.prev {
  order: 1;
}
.testNav button.next {
  order: 4;
}
.overviewButton {
  height: 36px;
  width: unset;
  border-radius: 18px;
  border: 2px solid black;
  text-transform: uppercase;
  line-height: 36px;
  order: 3;
}
.testNav > button > svg {
  font-size: 20px;
  stroke-width: 3px;
}
.testNav > button.primary {
  background-color: blue;
  border-color: blue;
  color: white;
}
.testNav-sections {
  xborder: 1px dashed greenyellow;
  display: inline-block;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  order: 2;
}
.testNav-sections > li {
  display: inline-block;
}
.testNav-sections > li ol {
  xborder: 1px dashed salmon;
}
fieldset {
  border: 0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49%, rgba(153,153,153,1) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
  background-clip: content-box;
}
.navBubble {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  border: 1px solid #666;
  color: #666;
  background: white;
  margin: 4px;
  cursor: pointer;
  transition: 0.4s background-color;
  position: relative;
}
.navBubble input {
  display: none;
}
.navBubble label {
  cursor: pointer;
}
.navBubble:hover {
  background: black;
  color: white;
}
.navBubble.active,
.navBubble.active:focus {
  background: black;
  color: white;
  border: 2px solid white;
  box-shadow: 0 0 0 2px black;
}
.navBubble:focus {
  border: 2px solid black;
  outline: none;
}


/**
 * MENUS
 */
.toolMenu {
  position: absolute;
  top: 10px;
  right: 20px;
}
.toolMenu > svg {
  font-size: 36px;
  font-weight: bold;
  color: #767676;
}
.toolMenu .popup-menu {
  display: none;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px 1px #999;
  width: 10rem;
  position: absolute;
  top: 0;
  right: 0;
}
.toolMenu:hover .popup-menu {
  display: block;
}
.toolMenu button {
  display: block;
}