.qti-visually-hidden {
  opacity: 0.25;
  height: 0;
  width: 0;
  position: absolute;
  top: 0px;
  left: -10000px;
  color: lightgray;
}

.qti-visually-hidden:focus {
  opacity: 1;
  height: auto;
}

.jump-link {
  opacity: 0.25;
  display: block;
}

.jump-link:focus {
  opacity: 1;
}

button {
  cursor: pointer;
}

ol, ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}